* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: 50px 100px 1fr 50px;
}

header {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3%;
  padding: 0% 2%;
}

.searchbox {
  background-color: #dbeafe;
  border-radius: 10px;
  padding: 10px;
  padding-right: 50%;
  margin-right: auto;
}

header>:nth-child(3) {
  margin-left: auto;
}

header img {
  width: 30px;
  height: auto;
  border-radius: 20px;
}

header>:nth-child(5) {
margin-right: 3%;
font-weight: 700;
}

.sidebar {
  background-color: #1e3a8a;
  color: white;
  grid-column: 1;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 1fr;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.menu img {
  width: 30px;
  height: auto;
}

.menu {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: repeat(7, 1fr) 50px repeat(3, 1fr);
  align-items: center;
  margin-left: 30px;
  row-gap: 5px;
  column-gap: 12px;
}

.dashboard {
  font-size: larger;
  font-weight: 700;
  margin-left: -5px;
  margin-bottom: 50px;
}

.dashboard img {
  width: 40px;
  height: auto;
}

.menu :nth-child(15), .menu :nth-child(16) {
  grid-row: 9;
}

 .menu :nth-child(17), .menu :nth-child(18) {
  grid-row: 10;
}

.menu :nth-child(19), .menu :nth-child(20) {
  grid-row: 11;
}

.navbar {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
}

.navbar>img{
  width: 70px;
  height: auto;
  border-radius: 50px;
  border: solid 1px black;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 5%;
  margin-left: auto;
  margin-right: 10%;
}
.button-panel>button {
  background-color: #1e3a8a;
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  color: white;
  font-weight: 700;
}

.cardboard {
  background-color: #dbeafe;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr minmax(1fr, 300px);
  padding-bottom: 1%;
}

.cardboard>p:first-of-type {
  grid-column: 1;
  grid-row: 1;
  font-weight: 700;
  margin: 10px;
}

.cardboard .projects {
  grid-column: 1;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
  gap: 1%;

}

.card {
  background-color: white;
  border-left: solid 8px #1e3a8a;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  margin: 0% 4%;
  padding: 5%;
}

.cardboard>p:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
  font-weight: 700;
}

.announcements {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px, 200px));
  background-color: white;
  border-radius: 10px;
  padding: 5% 7%;
  margin-right: 3%;
}

.cardboard>p:nth-of-type(3) {
  grid-column: 2;
  grid-row: 3;
  font-weight: 700;
}

.notice>p:first-of-type{
  font-weight: 700;
}

.bb {
  border-bottom: solid 1px black;
}

.trending {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  padding: 5%;
  grid-column: 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 100px);
}

.trending img {
  width: 70px;
  height: auto;
  border-radius: 50px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 4;
  display: grid;
  justify-items: center;
  font-weight: 700;
}
